SECRET_KEY=secret-key
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10
CORS_ORIGINS=http://localhost,http://localhost:50,http://localhost:5000
DATABASE_URL=postgresql://healthuser:healthpass@postgres:5432/healthdb
#DATABASE_URL=sqlite:////app/data/health.db
PASSWORD_SALT=password-salt
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=healthuser
POSTGRES_PASSWORD=healthpass
POSTGRES_DB=healthdb
